$breakpoint-sm: 992px !default;
$breakpoint-md: 769px !default;
$breakpoint-lg: 1025px !default;
$breakpoint-xl: 2000px !default;

@mixin sm() {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin lsm() {
  @media (max-width: $breakpoint-sm - 1) {
    @content;
  }
}

@mixin md() {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg() {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl() {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}
